
//stop marketing pixels taking up space..
img[height="1"][width="1"]{
  position: fixed;
  left: -1px;
  bottom: -1px;
}

#gotCookies {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: visible;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &:before {
    border-style: solid;
    border-width: 35px 0 0 35px;
    border-color: transparent transparent transparent unquote("$PrimaryColor");
  }

  &:after {
    width: 35px;
    height: 35px;
    background: linear-gradient(45deg, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0) 55%);
    filter: blur(3px);
    z-index: -1;
  }

  img {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.cookie-consent-buttons {

  .button {
    margin: 0;

    &:last-child {
      border-color: #fff;
    }
  }
}

#cookie-consent {
  position: fixed;
  z-index: 9999;
  bottom: -100%;
  transition-duration: 0.75s;
  opacity: 0;
  right: 100%;
  left: -100%;
  max-width: 600px;
  max-height: calc(100% - 40px);
  overflow: scroll;
  background: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border-top: 5px solid unquote("$PrimaryColor");

  &.open {
      bottom: 0;
      right: 0;
      left:0;
      opacity: 1;
  }
}