#Root_GDPR .togglecomposite {
    max-width: 700px;
}

#Form_EditForm_GDPRIsActive_Holder,
#Form_EditForm_DataControlFormsActive_Holder {
    padding-left: 0;
    max-width: 700px;
}

#Root_GDPR .policy-link {
    margin: 32px 0 0 0;
    padding: 5px 8px;
    display: inline-block;
}